@model IEnumerable<Draft.Models.Player>

@{
    ViewData["Title"] = "Players";
    var sortOrder = Context.Request.Query["sortOrder"];
    var sortDirection = Context.Request.Query["sortDirection"];
    var newSortDirection = sortDirection == "asc" ? "desc" : "asc";
    var currentFirstName = Context.Request.Query["firstName"];
    var currentLastName = Context.Request.Query["lastName"];
    var currentNationality = Context.Request.Query["nationality"];
    var currentPositionId = Context.Request.Query["positionId"];
    var pageNumberString = Context.Request.Query["pageNumber"].ToString();
    var currentPage = string.IsNullOrEmpty(pageNumberString) ? 1 : int.Parse(pageNumberString);
    var totalPages = (int)ViewData["TotalPages"];
}

<h2>Players</h2>

<!-- Wyszukiwarka -->
<form asp-action="Index" method="get" class="mb-3">
    <div class="form-row">
        <div class="col">
            <input type="text" name="firstName" class="form-control" placeholder="First Name" value="@Context.Request.Query["firstName"]" />
        </div>
        <div class="col">
            <input type="text" name="lastName" class="form-control" placeholder="Last Name" value="@Context.Request.Query["lastName"]" />
        </div>
        <div class="col">
            <input type="text" name="nationality" class="form-control" placeholder="Nationality" value="@Context.Request.Query["nationality"]" />
        </div>
        <div class="col">
            <select name="positionId" class="form-control">
                <option value="">All Positions</option>
                @foreach (var position in ViewData["Positions"] as List<Draft.Models.Position>)
                {
                    <option value="@position.Id">@position.Name</option>
                }
            </select>
        </div>
        <br /><div class="col">
            <button type="submit" class="btn btn-primary">Search</button>
        </div>
    </div>
</form>

<!-- Sortowanie -->
<div class="mb-3">
    <a class="btn btn-primary"
       asp-action="Index"
       asp-route-sortOrder="firstName"
       asp-route-sortDirection="@((sortOrder == "firstName" && sortDirection == "asc") ? "desc" : "asc")"
       asp-route-firstName="@currentFirstName"
       asp-route-lastName="@currentLastName"
       asp-route-nationality="@currentNationality"
       asp-route-positionId="@currentPositionId">
        Sort by First Name @if (sortOrder == "firstName")
        {
            <i class="fas @(sortDirection == "asc" ? "fa-sort-up" : "fa-sort-down")"></i>
        }
    </a>
    |
    <a class="btn btn-primary"
       asp-action="Index"
       asp-route-sortOrder="lastName"
       asp-route-sortDirection="@((sortOrder == "lastName" && sortDirection == "asc") ? "desc" : "asc")"
       asp-route-firstName="@currentFirstName"
       asp-route-lastName="@currentLastName"
       asp-route-nationality="@currentNationality"
       asp-route-positionId="@currentPositionId">
        Sort by Last Name @if (sortOrder == "lastName")
        {
            <i class="fas @(sortDirection == "asc" ? "fa-sort-up" : "fa-sort-down")"></i>
        }
    </a>
    |
    <a class="btn btn-primary"
       asp-action="Index"
       asp-route-sortOrder="age"
       asp-route-sortDirection="@((sortOrder == "age" && sortDirection == "asc") ? "desc" : "asc")"
       asp-route-firstName="@currentFirstName"
       asp-route-lastName="@currentLastName"
       asp-route-nationality="@currentNationality"
       asp-route-positionId="@currentPositionId">
        Sort by Age @if (sortOrder == "age")
        {
            <i class="fas @(sortDirection == "asc" ? "fa-sort-up" : "fa-sort-down")"></i>
        }
    </a>
</div>



<div class="row">
    @foreach (var player in Model)
    {
        <div class="col-md-3 mb-4">
            <a asp-action="Details" asp-route-id="@player.Id" class="card-link">
                <div class="card card-hover">
                    <img class="card-img-top" src="@player.PhotoPath" alt="@player.FirstName @player.LastName" style="height: 200px; object-fit: cover;">
                    <div class="card-body">
                        <h5 class="card-title">@player.FirstName @player.LastName</h5>
                    </div>
                </div>
            </a>
        </div>
    }
</div>


<!-- Stronnicowanie -->
<nav aria-label="Page navigation">
    <ul class="pagination">
        @for (int i = 1; i <= totalPages; i++)
        {
            <li class="page-item @(currentPage == i ? "active" : "")">
                <a class="page-link"
                   asp-action="Index"
                   asp-route-firstName="@currentFirstName"
                   asp-route-lastName="@currentLastName"
                   asp-route-nationality="@currentNationality"
                   asp-route-positionId="@currentPositionId"
                   asp-route-sortOrder="@sortOrder"
                   asp-route-sortDirection="@sortDirection"
                   asp-route-pageNumber="@i">
                    @i
                </a>
            </li>
        }
    </ul>
</nav>
