@model Draft.Models.User

@{
    ViewData["Title"] = "Edit Profile";
}

<h2>Edit Profile</h2>


<form asp-action="EditProfile" method="post">
    <div class="form-group">
        <label for="email">Email</label>
        <input name="Email" class="form-control" value="@Model.Email" />
        @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
    </div>
    <div class="form-group">
        <label for="username">Username</label>
        <input name="Username" class="form-control" value="@Model.Username" />
        @Html.ValidationMessageFor(model => model.Username, "", new { @class = "text-danger" })
    </div>
    <div class="form-group">
        <label for="password">Password</label>
        <input name="Password" type="password" class="form-control" value="@Model.Password" />
    </div>
    <br />
    <button type="submit" class="btn btn-primary">Save Changes</button>
    <a href="@Url.Action("MyProfile", "User")" class="btn btn-secondary">Cancel</a>
</form>
